html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header h1 {
  font-weight: 400;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
}

nav {
  position: relative;
  top: 1rem;
  right: 3rem;
  width: 20rem;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  font-size: 1.5rem;
}

.showcase_img {
  width: 95vw;
  margin: 1rem;
}

article {
  display: flex;
  margin: 1.5rem;
}

.content {
  text-align: center;
  margin-right: 2rem;
  padding: 1rem;
  font-size: 1.5rem;
}

footer {
  /* for background colour */
  background-color: black;
  /* for text colour */
  color: white;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

h2 {
  font-weight: 600;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
}